{% extends 'base.html' %}

{% block content %}
{% if error %}
<h2 class="page-title">Page {{ page_id }} already exists.</h2>
<p class="page-text">The page you are trying to create already exists. Please try to create a different page.</p>
{% else %}
<h2 class="page-title">Page {{ page_id }} not found.</h2>
<p class="page-text">The page you are looking for could not be found but probably hasn't been created yet. You can either go back to the start and start again, or you can decide to write this page and continue the story.</p>
{% endif %}

<div class="button-container">
  <button class="button-4" onclick="window.location.href='/page/0'">Restart</button>
  <button class="button-4" onclick="window.location.href='/create/{{ page_id }}'">Create Page {{ page_id }}</button>
</div>
{% endblock %}
