{% extends 'base.html' %}

{% block content %}
<h2 class="page-title">Page {{ page_id }} not found.</h2>
<p class="page-text">The page you are looking for could not be found but probably hasn't been created yet. You can either go back to the start and start again, or you can decide to write this page and continue the story.</p>

<div class="button-container">
  <button onclick="window.location.href='/page/0'">Restart</button>
  <button onclick="window.location.href='/create/{{ page_id }}'">Create Page {{ page_id }}</button>
</div>
{% endblock %}
