{% extends 'base.html' %}

{% block content %}

<div class="card-body">
    <div class="page-title">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="page-text">
      <p>{{ page.text }}</p>
    </div>

    <div class="commands-section">
        <h2>What will you do?</h2>
        <div class="commands-grid">
          {% for command, show in zip(page.commands, shows) %}
            {% if show %}
            <div class="command-card button-container" hx-on:click="window.location.href='/page/{{ command.page }}'">
                  <div class="command-card-body">
                    <h3>{{ command.name }}</h3>
                    {% if command.text != '' %}
                    <p>{{ command.text }}</p>
                    {% endif %}
                  </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
